html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100vw;
    height: 100vw;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 120%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 100%;
    max-width: 640px;
    margin-bottom: 10px;
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: #FFD700;
    width: 25%;
    max-width: 160px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.move-text {
    width: 25%;
}

.timer {
    width: 30%;
    max-width: 160px;
}

.restart {
    margin-left: auto;
    cursor: pointer;
}

/*
 * Styles for the deck of cards
 */

.deck {
    max-width: 640px;
    width: 100%;
    height: 640px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* An outer element containing card-fron and card-back */
.card-outer {
    position: relative;
    flex: 0 0 21%;
    padding: 10% 0;
    list-style: none;    /* remove list dots */
    width: 20%;
    height: 20%;
}

/* A child of card-outer representing image to be remembered */
.card-front {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transform: rotateY(0.5turn);
    backface-visibility: hidden;
    transition: 0.5s ease-in-out;
}

/* A child of card-outer representing card back image */
.card-back {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background: #2e3d49;
    border-radius: 8px;

    transform: rotateY(0.5turn);
    backface-visibility: hidden;
    transition: 0.5s ease-in-out;
}

img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.card-open {
    transform: rotateY(0);
}

/*
    Styles for the end of game modal
*/
/* The End-of-Game Modal (background) */
.end-of-game-modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.end-of-game-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.end-of-game-modal-content p {
  font-size: 24px;
}

.modal-hall-of-fame {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

.record {
    display: flex;
    flex-wrap: wrap;
}

.li-rec {
    width: 100%;
}

.rec-hide {
    display: none;
}

.rec-name {
    width: 50%;
}

.rec-time {
    width: 35%;
}

.rec-moves {
    width: 15%;
}

/* The Close Button */
.modal-close {
    color: #aaaaaa;
    width: 80%;
    height: 10%;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 16px;
  }

  .score-panel {
    font-size: 16px;
  }

  .deck .card.show {
    font-size: 16px;
  }

  .end-of-game-modal-content {
    width: 100%;
  }

  .modal-hall-of-fame {
    font-size: 14px;
  }

  .end-of-game-modal-content p {
    font-size: 16px;
  }
}
